#background {
    width: 100%;
    height: 4000px;
    background: url("../misc/DSC_0095.JPG") no-repeat fixed center;
    background-size: 110%;
    opacity: 0.5;
    position: absolute;
    margin: -12px;
}

p {
    position: relative;
}
