/* Include padding and border in total */
* {
  box-sizing: border-box;
}

/* Remove default margin */
body {
  margin: 0rem;
}

/* Remove iframe border */
iframe {
  border: none;
}

/* Style the header */
.header {
  color: #f2f2f2;
  background-color: #333;
  padding: 1.25rem;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 0.875rem 1rem;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Side panels */
.side {
  color: #f2f2f2;
  background-color: #333;
  padding: 0.625rem;
}

/* Set up grid */
.row {
  display: grid;
  grid-template-columns: calc(7.6166875rem + 2.9375rem) auto calc(7.6166875rem + 2.9375rem - 1rem);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other 
@media screen and (max-width: 37.5rem) {
  .column.side, .column.middle {
    width: 100%;
  }
}
*/

/* Configure the central frame */
.site {
  width: 100%;
  height: 100%;
}

/* Style the footer */
.footer {
  color: #f2f2f2;
  background-color: #333;
  padding: 1.25rem;
  text-align: center;
}

:target {
  width: 100px;
  transition-property: width;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}
