#background {
    height: 100%;
    background: url("../misc/DSC_0095.JPG") fixed;
    background-size: 100%;
    opacity: 0.4;
    z-index: -1;
}

#hide {
    display: none;
}

#quote {
    left: calc(50% - 12.33rem);
    font-size: 0.75rem;
    margin-top: 0.5rem;
    position: inherit;
}

#title {
    margin: 0.7rem;
    top: 1rem;
}

#quote {
    display: inline-flex;
}

.content {
    top: 5.4rem;
    z-index: 0;
}

.dropdown {
    display: none;
}

.item {
    cursor: pointer;
}

.label {
    text-decoration: none;
}

.content, .dropdown {
    position: absolute;
}

.label, .menu:hover .dropdown {
    display: block;
}

.button, .dropdown, .unhide {
    right: 0rem;
}

.button, .label, .item {
    padding: 0.7rem;
}

.button:hover, .label:hover, .item:hover {
    background-color: #2196F3;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    height: 5.4rem;
    z-index: 1;
    overflow: auto;
}

a.link, nav, .unhide {
    color: #f2f2e2;
} 

nav, #background {
    left: 0rem;
    width: 100%;
}

nav, .dropdown, .button {
    background-color: #0d0d0d;
}

nav, .unhide, #background, #quote {
    top: 0rem;
}

nav, .button, #background, #title {
    position: fixed;
}
