#background {
    height: 100%;
    background: url("../misc/DSC_0095.JPG") fixed;
    background-size: 100%;
    opacity: 0.4;
    z-index: -1;
}

#quote {
    left: calc(50% - 12.33rem);
    font-size: 0.75rem;
    margin-top: 0.5rem;
}

#title {
    margin: 1.5rem 0.7rem;
}

#unhide {
    display: none;
}


#hide:active #nav {
    display: none;
}

#quote, #title {
    display: inline-flex;
}

.button {
    background-color: 0d0d0d;
}

.content {
    top: 5.4rem;
    z-index: 0;
}

.dropdown {
    display: none;
}

.item {
    text-decoration: none;
}

.label {
    margin: 0rem;
}

.menu {
    cursor: pointer;
    display: inline-block;
    top: 3rem;
}

.content, .dropdown {
    position: absolute;
}

.item, .menu:hover .dropdown {
    display: block;
}

.menu, #quote {
    position: inherit;
}

.button, .dropdown, .menu {
    right: 0rem;
}

.button, .item, .label {
    padding: 0.7rem;
}

.button:hover, .item:hover, .menu:hover {
    background-color: #2196F3;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    height: 5.4rem;
    z-index: 1;
    overflow: auto;
}

a.item, nav {
    color: #f2f2e2;
} 

nav, #background {
    left: 0rem;
    width: 100%;
}

nav, .dropdown {
    background-color: #0d0d0d;
}

nav, #background, #quote {
    top: 0rem;
}

nav, .button, #background {
    position: fixed;
}
