#title, #quote {
    display: inline-flex;
    }

#background, #quote {
    top: 0rem;
}

#background {
    width: 100%;
    height: 1006px;
    background: url("../misc/DSC_0095.JPG") no-repeat fixed center;
    background-size: 100%;
    opacity: 0.4;
    position: fixed;
    left: 0rem;
    z-index: -1;
}

#title {
    margin: 13px 0px 0px 8px;
}

#quote {
    position: inherit;
    left: calc(50% - 170px);
    font-size: 0.85rem;
    margin-top: 6px;
}

.menu:hover .dropdown {
    display: block;
}

.menu:hover, .item:hover {
    background-color: #2196F3;
}

.menu {
    display: inline-block;
    position: inherit;
    right: 0px;
    top: 19px;
    cursor: pointer;
}

.menu:hover .dropdown {
    display: block;
}

.menu:hover, .item:hover {
    background-color: #2196F3;
}

.menu {
    display: inline-block;
    position: inherit;
    right: 0px;
    top: 19px;
    cursor: pointer;
}

.label {
    margin: 0;
    padding: 8px;
}

.dropdown {
    display: none;
    position: absolute;
    top: 30px;
    right: 0px;
}

.item {
    display: block;
    padding: 8px;
    text-decoration: none;
}

.content {
    position: absolute;
    top: 50px;
    z-index: 0;
}

nav, a.item {
    color: #f2f2e2;
} 

nav, .dropdown {
    background-color: #0d0d0d;
}

nav {
    position: fixed;
    width: 100%;
    top: 0rem;
    left: 0rem;
    height: 50px;
    z-index: 1;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
